<div style="width: 100%">

  <div style="display: flex; padding: 2px">
  <h1 style="text-align: center; margin: 2px">MB Per Second : {{mbPerSecond | number}}</h1>
  <h1 style="text-align: center; margin: 2px">Market Data Monitor {{numOfRecords | number}}</h1>
  <h1 style="
  text-align: center; margin: 2px">First Row : {{firstRow}} Last Row : {{lastRow}}</h1>
  </div>

  <button (click)="startSubscribing($event)">START</button>
  <button (click)="stopSubscribing($event)">STOP</button>


  <ag-grid-angular
      #agGrid

      style="height:calc(100vh - 200px);"
      class="ag-theme-balham-dark"
      [enableCellChangeFlash]="false"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

</div>

