<div style="width: 100%">

  <h1 style="text-align: center">Market Data Monitor {{numOfRecords | number}}</h1>
  <h1 style="text-align: center">First Row : {{firstRow}} Last Row : {{lastRow}}</h1>
  <button (click)="startSubscribing($event)">START</button>
  <button (click)="stopSubscribing($event)">STOP</button>


  <ag-grid-angular
      #agGrid

      style="width: auto; height:calc(100vh - 200px);"
      class="ag-theme-balham-dark"
      [enableCellChangeFlash]="false"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

</div>

